/* --------------------------------------- RESET --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --primary-color: #09090c;
  --secondary-color: #fafdff;
  --font-primary: #0e0f14;
  --font-secondary: #ffffff;
}

/* Fonts */
@font-face {
  font-family: "edosz";
  src: url("./assets/fonts/edosz.ttf");
  font-family: "caviar";
  src: url("./assets/fonts/CaviarDreams.ttf");
  font-family: "osake";
  src: url("./assets/fonts/Osake.ttf");
  font-family: "deriku";
  src: url("./assets/fonts/Dekiru.ttf");
  font-family: "bambou";
  src: url("./assets/fonts/123Bambou.ttf");
}

/* --------------------------------------- GENERAL --------------------------------------- */
body {
  background-color: var(--secondary-color);
}
/* -----------------------header-------------------- */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 64px;
}
.navbar-button {
  width: 100%;
  height: 100%;
}
.navbar-button img {
  width: 100%;
  height: 64px;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  width: 100%;
  height: 64px;
  margin: 0 10%;
}
.navbar-list {
  width: 0;
  list-style: none;
  visibility: hidden;
  z-index: -1;
}

.hero-img {
  background-image: url(./assets/photos/hero-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title h1 {
  display: block;
  font-size: 102px;
  color: var(--font-secondary);
}

.patte-illu {
  width: 5%;
  position: absolute;
  animation: pastaWorks 100s infinite linear;
}
.patte-illu img {
  width: 50%;
}
.patte-left {
  display: flex;
  justify-content: left;
}
.patte-right {
  display: flex;
  justify-content: right;
}
@keyframes pastaWorks {
  0% {
    top: 440px;
    left: 2%;
    transform: rotate(90deg);
  }

  10% {
    top: 480px;
    left: 95%;
    transform: rotate(90deg);
  }
  11% {
    top: 480px;
    left: 95%;
    transform: rotate(180deg);
  }

  15% {
    top: 750px;
    left: 95%;
    transform: rotate(180deg);
  }
  25% {
    top: 850px;
    left: 3%;
    transform: rotate(270deg);
  }
  30% {
    top: 1400px;
    left: 3%;
    transform: rotate(180deg);
  }
  40% {
    top: 1400px;
    left: 95%;
    transform: rotate(90deg);
  }
  45% {
    top: 1700px;
    left: 95%;
    transform: rotate(180deg);
  }
  100% {
    top: 2000px;
    left: 95%;
    transform: rotate(180deg);
  }
}

.hero-img {
  background-image: url(./assets/photos/hero-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title h1 {
  font-size: 102px;
  color: var(--font-secondary);
}
/* --------------------------------------- ARTICLES --------------------------------------- */

/* Titres et paragraphes */
.section {
  display: flex;
  flex-direction: column;
  margin: 10vw;
  line-height: 2rem;
  text-align: justify;
  align-items: center;
}

.section p {
  font-family: bambou, sans-serif;
}

.section div {
  font-family: edosz, sans-serif;
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  margin: 4vh;
}

.section div img {
  width: 100%;
  height: 2.5rem;
  object-fit: contain;
}

/* Bouton "voir plus" */
.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}

.read-more-btn {
  width: 2rem;
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
  font-family: bambou, sans-serif;
}

/* Icones point info */
.icons-infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin: 10vw;
  height: auto;
}
.icons-infos div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: center;
  font-family: bambou, sans-serif;
  font-size: 1rem;
  width: 100%;
}

.icons-infos div img {
  width: 100%;
  width: 12vw;
  object-fit: contain;
}

.icons-infos p {
  font-size: clamp(0.8rem, 4vw, 1.8rem);
  font-weight: bold;
}

/* Text strong */
.strong-text-white {
  display: flex;
  flex-direction: column;
  margin: 0 15vw;
  text-align: center;
  font-family: edosz, sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
}

/* Illustration dessin panda */
.anim-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vw 12vw 10vw 10vw;
}
.anim-img img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

/* SECTION BLACK */
.section-5 p:first-of-type {
  margin-bottom: 2vh;
}

.strong-text-black {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
  text-align: center;
  font-family: edosz, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* CARROUSEL PHOTOS */
.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrousel figure img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

/* ASSOCIATIONS - DONATIONS */
.title-asso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}

.title-asso h2 {
  font-family: bambou, sans-serif;
  text-transform: uppercase;
}
.title-asso img {
  width: 100%;
  object-fit: contain;
}

/* ANIMATION DONATEURS CSS ------ FUST FOR FUN */
.circle {
  height: 250px;
  width: 250px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  /* box-shadow: 5px 2px 20px rgb(34, 31, 31); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.circle-multiple div p {
  font-family: bambou;
  font-weight: bold;
  font-size: 2rem;
}

.circle-multiple {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 20vw;
}

.circle-multiple .circle {
  position: absolute;
  top: 0;
  left: 0;
}

.circle-multiple .circle:nth-child(1) {
  animation: psycho 3s linear infinite;
  border: 6px solid white;
}

.circle-multiple .circle:nth-child(2) {
  animation: psycho 3s linear 0.1s infinite;
  border: 2px solid rgb(32, 29, 29);
}

.circle-multiple .circle:nth-child(3) {
  animation: psycho 3s linear 0.25s infinite;
  border: 3px solid rgb(22, 21, 21);
}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes psycho {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  33% {
    transform: rotate(360deg) scale(1) translate(5px, 5px);
  }
  66% {
    transform: rotate(720deg) scale(1) translate(-8px, -5px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
/* --------------------------------------- CLIC PANDA --------------------------------------- */
#anim-1 {
  position: relative;
}

#anim-1 img:hover {
  transform: scale(1.1);
}

#anim-1 img:active {
  transform: scale(1);
}

#anim-2 {
  position: relative;
}

#anim-2 img:hover {
  transform: scale(1.1);
}

#anim-2 img:active {
  transform: scale(1);
}

#anim-3 {
  position: relative;
}

#anim-3 img:hover {
  transform: scale(1.1);
}

#anim-3 img:active {
  transform: scale(1);
}



.fact {
  color: #ffffff;
  width: clamp(300px, 40vw , 600px);
  height: auto;
  top: -10vh;
  text-align: center;
  display: flex;
  position:absolute;
  font-family: bambou;
  border: 3px solid black;
  border-radius: 50%;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  }

/* --------------------------------------- DARK SECTION --------------------------------------- */

.article-black {
  color: white
}

/* --------------------------------------- FOOTER --------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-footer {
  font-family: "caviar", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.icons-netwoks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon {
  height: clamp(2rem, 10vw, 8rem);
  width: clamp(2rem, 10vw, 8rem);
  margin-inline: 3vw;
  margin-top: clamp(2rem, 10%, 4rem);
}

.footer-img img {
  width: 100vw;
  height: auto;
  margin-top: clamp(3rem, 10vw, 100rem);
}

/* --------------------------------------- MEDIA QUERIES --------------------------------------- */
@media screen and (min-width: 800px) {
  .title-footer {
    font-size: 2.5rem;
  }

  .navbar {
    display: flex;
  }
  .navbar-button {
    width: 0%;
    height: 0%;
    z-index: -1;
    visibility: hidden;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
  }
  .navbar-list {
    visibility: visible;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-list li:hover {
    transform: scale(1.1);
  }

  .hero-img {
    background-image: url(./assets/photos/hero-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
