/* --------------------------------------- RESET --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --primary-color: #09090c;
  --secondary-color: #fafdff;
  --font-primary: #0e0f14;
  --font-secondary: #ffffff;
}

/* Fonts */
@font-face {
  font-family: "edosz";
  src: url("/assets/fonts/edosz.ttf");
  font-family: "caviar";
  src: url("/assets/fonts/CaviarDreams.ttf");
  font-family: "osake";
  src: url("/assets/fonts/Osake.ttf");
}

/* --------------------------------------- GENERAL --------------------------------------- */
html {
  background-color: var(--secondary-color);
}

/* --------------------------------------- FOOTER --------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-footer {
  font-family: "caviar", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.icons-netwoks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon {
  height: clamp(2rem, 10vw, 8rem);
  width: clamp(2rem, 10vw, 8rem);
  margin-inline: 3vw;
  margin-top: clamp(2rem, 10%, 4rem);
}

.footer-img img {
  width: 100vw;
  height: auto;
  margin-top: clamp(3rem, 10vw, 100rem);
}

/* --------------------------------------- MEDIA QUERIES --------------------------------------- */
@media screen and (min-width: 1056px) {
  .title-footer {
    font-size: 2.5rem;
  }
}

.navbar {
  display: flex;
}
.navbar-button {
  width: 0;
  height: 0;
}
.navbar-button img {
  width: 100%;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  width: 100%;
  height: 64px;
}
.navbar-list {
  list-style: none;
  visibility: visible;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navbar-list li {
  font-size: 24px;
  transition: transform 0.4s;
}
.navbar-list li:hover {
  transform: scale(1.1);
}

.hero-img {
  background-image: url(/assets/photos/hero-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title h1 {
  font-size: 102px;
  color: var(--font-secondary);
}

@media screen and (max-width: 500px) {
  .navbar {
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .navbar-button {
    width: 100%;
    height: 100%;
  }
  .navbar-button img {
    width: 100%;
  }
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  .navbar-logo img {
    width: 100%;
    height: 64px;
    margin: 0 10%;
  }
  .navbar-list {
    width: 0;
    list-style: none;
    visibility: hidden;
    z-index: 0;
  }

  .hero-img {
    background-image: url(/assets/photos/hero-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-title h1 {
    font-size: 102px;
    color: var(--font-secondary);
  }
}
