/* --------------------------------------- RESET --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Colors */
:root {
  --primary-color: #09090c;
  --secondary-color: #fafdff;
  --font-primary: #0e0f14;
  --font-secondary: #ffffff;
}

@font-face {
  font-family: "edosz";
  src: url("./assets/fonts/edosz.ttf");
}
@font-face {
  font-family: "caviar";
  src: url("./assets/fonts/CaviarDreams.ttf");
}
@font-face {
  font-family: "osake";
  src: url("./assets/fonts/Osake.ttf");
}
@font-face {
  font-family: "deriku";
  src: url("./assets/fonts/Dekiru.ttf");
}
@font-face {
  font-family: "bambou";
  src: url("./assets/fonts/123Bambou.ttf");
}

/* --------------------------------------- GENERAL --------------------------------------- */
body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}
/* -----------------------header-------------------- */
.navbar-button {
  display: grid;
  place-items: center;
}

#navburger {
  width: clamp(2rem, 5vw + 1rem ,4rem);
  height: clamp(2rem, 5vw + 1rem ,4rem);
}

.navbar {
  z-index: 10;
  top: 0;
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 64px;
}
.paw-counter h6 {
  font-size: 3rem;
  margin: 0 20px;
}
.paw-counter h5 {
  font-size: 2rem;
  line-height: 1.5rem;
}
.paw-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ponda-mignon img {
  width: 60%;
  height: 40px;
}
.vector img {
  width: 60%;
  height: 20px;
}
.navbarMobil {
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 70px;
}
.navbarMobil div {
  display: flex;
}
a {
  color: var(--font-primary);
  font-size: 2rem;
}

.leaf {
  background-image: url(./assets/img/calligraphie/bamboo-leaf.png);
  background-position: -60px -75px;
  background-repeat: no-repeat;
  width: 450px;
  height: 140px;
  align-items: center;
  justify-content: center;
}
.bambu {
  background-image: url(./assets/img/calligraphie/output.png);
  background-repeat: no-repeat;
  width: 80px;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  width: 100%;
  height: 60px;
  margin: 0 10%;
  object-fit: contain;
  height: 100%;
}
.navbar-list {
  display: none;
}
#history {
  margin-top: 50px;
  background-image: url(./assets/photos/hero-mobile.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#history h1 spam {
  font-family: "Osake", sans-serif;
  color: var(--font-secondary);
  font-size: clamp(3rem, 18vw, 25rem);
}
.pattImg {
  position: absolute;
}

/* --------------------------------------- ARTICLES --------------------------------------- */

.main-container {
  display: flex;
  flex-direction: column;
  margin: 10vw;
  margin: 10vh;
}

.container {
  position: relative;
}

.sentence {
  position: absolute;
  bottom: -100vh;
}

.section {
  opacity: 0;
}

/* Titres et paragraphes */
.section {
  display: flex;
  flex-direction: column;
  margin: 10vw;
  line-height: 2rem;
  text-align: justify;
  align-items: center;
}

.section p {
  font-family: bambou, sans-serif;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 2rem;
}

.section div {
  font-family: edosz, sans-serif;
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  width: 100%;
  display: flex;
  margin-bottom: 4vh;
}

.calli-img {
  width: 100%;
  height: 2.5rem;
  object-fit: contain;
}

/* Bouton "voir plus" */
.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}

.read-more-btn {
  width: 2rem;
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
  font-family: bambou, sans-serif;
}

/* Icones point info */
.icons-infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin: 10vw;
  margin-bottom: 15vh;
  height: auto;
}
.icons-infos div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: center;
  font-family: bambou, sans-serif;
  font-size: 1rem;
  width: 100%;
}

.icons-infos div img {
  width: 100%;
  width: 12vw;
  object-fit: contain;
}

.icons-infos p {
  font-size: clamp(0.8rem, 4vw, 1.8rem);
  font-weight: bold;
}

/* Trait de pinceau (line-brush) */
.line-brush {
  display: none;
}

/* Text strong */
.strong-text-white {
  display: flex;
  flex-direction: column;
  margin: 0 15vw;
  text-align: center;
  font-family: edosz, sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
}

.strong-text-white img {
  display: none;
}

/* Illustration dessin panda */
.anim-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.anim-img img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

/* SECTION BLACK */
.section-5 p:first-of-type {
  margin-bottom: 2vh;
}

.strong-text-black {
  display: flex;
  flex-direction: column;
  margin: 5vh 10vw;
  text-align: center;
  font-family: edosz, sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
  line-height: clamp(2rem, 4vw, 3.5rem);
}

/* CARROUSEL PHOTOS */
.carrousel {
  width: 100vw;
  height: 60vh;
  background-color: #09090c;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}

.container-carrousel {
  width: 100vw;
  height: 60vh;
}
.photo {
  width: 100vw;
  height: 60vh;
  margin: 0;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.btn-carrousel {
  position: absolute;
  width: 60px;
  cursor: pointer;
  top: 50%;
  background-color: rgba(256, 256, 256, 0.4);
  border: 2px solid white;
  border-radius: 100%;
}

#btn-left {
  left: 0.8rem;
}
#btn-left:hover {
  transform: scale(1.2);
}

#btn-right {
  right: 0.8rem;
}
#btn-right:hover {
  transform: scale(1.2);
}

/* ASSOCIATIONS - DONATIONS */
.title-asso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}

.title-asso h2 {
  font-family: bambou, sans-serif;
  text-transform: uppercase;
}
.title-asso img {
  width: 100%;
  object-fit: contain;
}

/* ANIMATION DONATEURS CSS ------ FUST FOR FUN */
.circle {
  height: 250px;
  width: 250px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  /* box-shadow: 5px 2px 20px rgb(34, 31, 31); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.circle-multiple div p {
  font-family: bambou;
  font-weight: bold;
  font-size: 2rem;
}

.circle-multiple {
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto;
  margin-bottom: 20vh;
  z-index: -1;
}

.circle-multiple .circle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-multiple .circle:nth-child(1) {
  animation: psycho 3s linear infinite;
  border: 6px solid white;
}

.circle-multiple .circle:nth-child(2) {
  animation: psycho 3s linear 0.1s infinite;
  border: 2px solid rgb(32, 29, 29);
}

.circle-multiple .circle:nth-child(3) {
  animation: psycho 3s linear 0.25s infinite;
  border: 3px solid rgb(22, 21, 21);
}

@keyframes psycho {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  33% {
    transform: rotate(360deg) scale(1) translate(5px, 5px);
  }
  66% {
    transform: rotate(720deg) scale(1) translate(-8px, -5px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
.slider {
  position: relative;
  width: 100%;
  height: 470px;
  overflow: hidden;
  margin: 80px 0;
  font-family: caviar, sans-serif;
}
.item {
  border: 1px solid var(--primary-color);
  position: absolute;
  width: 60%;
  height: 420px;
  left: 20%;
  text-align: justify;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;

  top: 0;
}
#next,
#prev {
  position: absolute;
  top: 40%;
  color: var(--primary-color);
  z-index: 2;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  left: 10px;
}
#next {
  left: unset;
  right: 10px;
}
.logo-done {
  display: flex;
  justify-content: space-between;
}
.dons {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}
.item p {
  height: 130px;
}
.social-networks {
  height: 30px;
}
.social-networks img {
  width: 40px;
  height: 40px;
}
/* --------------------------------------- CLIC PANDA --------------------------------------- */
#anim-1 {
  position: relative;
}

#anim-1 img:hover {
  transform: scale(1.1);
}

#anim-1 img:active {
  transform: scale(1);
}

#anim-2 {
  position: relative;
}

#anim-2 img:hover {
  transform: scale(1.1);
}

#anim-2 img:active {
  transform: scale(1);
}

#anim-3 {
  position: relative;
}

#anim-3 img:hover {
  transform: scale(1.1);
}

#anim-3 img:active {
  transform: scale(1);
}

.fact {
  color: #ffffff;
  width: clamp(300px, 40vw, 600px);
  height: auto;
  top: -10vh;
  text-align: center;
  display: flex;
  position: absolute;
  font-family: bambou;
  border: 3px solid black;
  border-radius: 50%;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.9);
}

/* --------------------------------------- DARK SECTION --------------------------------------- */

.article-black {
  color: white;
}

/* --------------------------------------- FOOTER --------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-footer {
  font-family: "caviar", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.icons-netwoks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon {
  height: clamp(2rem, 10vw, 8rem);
  width: clamp(2rem, 10vw, 8rem);
  margin-inline: 3vw;
  margin-top: clamp(2rem, 10%, 4rem);
}

.footer-img img {
  width: 100vw;
  height: auto;
  margin-top: clamp(3rem, 10vw, 100rem);
}

/* --------------------------------------- MEDIA QUERIES --------------------------------------- */
@media screen and (min-width: 768px) {
  /* --------- Navbar --------- */
  .title-footer {
    font-size: 2.5rem;
  }

  #history {
    height: 80vh;
  }

  .navbar {
    display: flex;
    height: 70px;
  }
  .navbar-button {
    display: none;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
  }
  .navbar-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: edosz, sans-serif;
    margin: 0 10%;
  }

  .navbar-list li:hover {
    transform: scale(1.1);
  }

  #history {
    background-image: url(./assets/photos/hero-desktop.png);
    /* background-position: center; */
    object-fit: contain;
    object-position: center;
    /* background-size: cover; */
    width: 100%;
    height: 95vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .slider {
    position: relative;
    width: 100%;
    height: 470px;
    overflow: hidden;
  }
  .item {
    border: 1px solid var(--primary-color);
    position: absolute;
    width: 60%;
    height: 420px;
    left: 20%;
    text-align: justify;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;

    top: 0;
  }
  #next,
  #prev {
    position: absolute;
    top: 40%;
    color: var(--primary-color);
    z-index: 2;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    left: 10px;
  }
  #next {
    left: unset;
    right: 10px;
  }
  .logo-done {
    display: flex;
    justify-content: space-between;
  }
  .dons {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px;
  }
  .item p {
    height: 130px;
  }
  .social-networks {
    height: 30px;
  }
  .social-networks img {
    width: 40px;
    height: 40px;
  }
  /* --------- Articles --------- */

  /* Titres et paragraphes */

  .txt-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .txt-anim-strong {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10vw;
    gap: 2vw;
    column-gap: 5vw;
  }

  .txt-anim-strong .strong-text-white {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 8vw;
    padding-left: 8vw;
  }

  .txt-anim-strong .strong-text-white img {
    padding-top: 5rem;
    height: 11rem;
  }

  .txt-anim-strong #anim-1 {
    margin: 0;
    padding-right: 2vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .txt-anim-strong .section-3 {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .txt-txt-anim {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3vh;
    margin: 10vw;
  }

  .txt-txt-anim #anim-2 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .txt-txt-anim .section-4 {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .txt-txt-anim .section-5 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .txt-anim-black {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 10vw;
    column-gap: 3;
    column-gap: 2vw;
  }
  .txt-anim-black .section-6 {
    margin: 0;
  }

  .txt-anim-black #anim-3 {
    justify-content: end;
    align-items: end;
  }

  .section {
    grid-template-columns: 1fr;
  }

  .section-1 {
    margin-left: 10vw;
    margin-right: 0vw;
  }

  .section h2 {
    text-align: start;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .section p {
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 3rem;
  }

  /* .section div {
    font-family: edosz, sans-serif;
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    margin: 4vh;
  } */

  .section div img {
    width: 100%;
    /* padding-right: 5rem; */
    height: 3rem;
    object-fit: contain;
  }

  .section-2 div {
    display: flex;
    flex-direction: row-reverse;
  }
  .section-2 div img {
    padding-left: 50%;
  }

  .section-3 div {
    display: flex;
    flex-direction: row-reverse;
  }

  .section-5 div img {
    padding-right: 50%;
  }
  /* Trait de pinceau (line-brush) */
  .line-brush {
    display: block;
    margin: 0 auto;
  }

  /* Bouton voir plus */
  .read-more-btn {
    display: none;
  }

  .read-more-text {
    display: block;
    margin-top: 3vh;
  }

  .icons-infos {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .icons-infos div {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .icons-infos div img {
    width: 100%;
    width: 9vw;
    /* align-items: flex-start;
    justify-content: flex-start;
    text-align: start; */
  }

  /* Bouton carrousel */
  #btn-left {
    width: 5rem;
    left: 2rem;
  }
  /* #btn-left:hover {
    transform: scale(1.2);
  } */

  #btn-right {
    width: 5rem;
    right: 2rem;
  }
  /* #btn-right:hover {
    transform: scale(1.2);
  } */

  .strong-text-white img {
    display: block;
  }

  /* Carrousel */
  .carrousel {
    width: 100vw;
    height: 85vh;
  }

  .container-carrousel {
    width: 100vw;
    height: 85vh;
  }
  .photo {
    width: 100vw;
    height: 85vh;
  }

  .title-asso {
    margin-top: 20vh;
  }
}
