<<<<<<< HEAD
/*------- RESET ------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --primary-color: #09090c;
  --secondary-color: #e74c3c;
  --font-primary: #333;
  --font-secondary: #f5f5f5;
}

/* FONT-FAMILY */
@font-face {
  font-family: "edosz";
  src: url("/assets/fonts/edosz.ttf");
  font-family: "caviar";
  src: url("/assets/fonts/CaviarDreams.ttf");
  font-family: "osake";
  src: url("/assets/fonts/Osake.ttf");
}

/* test */
h1 {
  font-family: "edosz", sans-serif;
  color: var(--secondary-color);
}
=======
* {
    margin: 0;
}

@font-face {
    font-family: "caviar";
    src: url("assets/fonts/CaviarDreams.ttf");
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-footer {
    font-family: 'caviar', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

.icons-netwoks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon {
    height: clamp(2rem, 10vw, 8rem);
    width: clamp(2rem, 10vw, 8rem);
    margin-inline: 3vw;
    margin-top: clamp(2rem, 10%, 4rem);
}

.footer-img img {
    width: 100vw;
    height: auto;
    margin-top: clamp(3rem, 10vw, 100rem);
}

@media screen and (min-width: 1056px) {
    .title-footer {
        font-size: 2.5rem
    }
}
>>>>>>> 7d39d377e012aedc517efcb39f512614f93d8ff9
